# General
*.swp
*.swo
*.rbo
*.gem
.DS_Store
.rbenv-version
.rbx/
xcuserdata
project.xcworkspace
DerivedData
/concatenated.*

# xcode noise
build/*
*.pbxuser
*.mode1v3
*~

# old skool
.svn

# osx noise
profile

# Yardoc
.yardoc
/doc

# Specs
tmp
spec/fixtures/banana-lib
spec/fixtures/chameleon
spec/fixtures/integration/Headers/
spec/fixtures/vcr
spec/fixtures/cache

# Examples
Pods
coverage/
.coveralls.yml

# IDEs
*.xccheckout
.idea/

# RVM files
/.rvmrc
/.ruby-version
/.ruby-gemset

# Bundler files
/.bundle
